<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-37">
    <div class="cs-container">
        <!-- Right Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)"
                srcset="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/lightbulb-m.jpg">
            <source media="(min-width: 601px)"
                srcset="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/lightbulb.jpg">
            <img aria-hidden="true" loading="lazy" decoding="async"
                src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/lightbulb.jpg" alt="lightbulbs on a wire"
                width="858" height="781">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Vos avantages</span>
            <h2 class="cs-title">Avoir un site internet, qu'est ce que j'y gagne?</h2>
            <p class="cs-text"> De nos jours, une présence en ligne est devenue indispensable pour la majorité des
                entreprises. Laissez-vous tenter, même sans connaissances particulières dans le domaine, vous ne
                reviendrez jamais en arrière.
            </p>
            <ul class="cs-ul" style="margin-top: 3%;">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark"
                        width="27" height="27">
                    Gagner du temps.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark"
                        width="27" height="27">
                    Se simplifier la vie.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark"
                        width="27" height="27">
                    Toucher plus de clients.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark"
                        width="27" height="27">
                    Publicité 24/24h 7/7j.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark"
                        width="27" height="27">
                    Un prix plus abordable que mes concurrents.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Why-Choose/yellow-check.svg" alt="checkmark"
                        width="27" height="27">
                    Accompagnement, conseil et suivi personnalisé.
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-296">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg" alt="icon"
                        width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Gagner du temps.</h3>
                    <p class="cs-item-text"> Vous souhaitez vous concentrer sur votre coeur de métier et mieux gérer
                        votre communication auprès de vos clients? Vous avez besoin d'aide pour mieux vous organiser? Le
                        web peut vous aider.</p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg" alt="library" width="413"
                        height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg" alt="icon"
                        width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Se simplifier la vie.</h3>
                    <p class="cs-item-text">
                        Vos clients vous contactent par l'intermédiaire de votre site, votre site fait votre promotion
                        en détail. Vous n'avez plus qu'à consulter vos emails dans la journée pour répondre à vos
                        clients.
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg" alt="library" width="413"
                        height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg" alt="icon"
                        width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Toucher plus de clients.</h3>
                    <p class="cs-item-text">
                        80% des personnes à qui vous parlez de votre entreprise iront regarder sur internet, si vous
                        avez une présence en ligne. Mettez en avant vos informations (email, téléphone, horaires,
                        services...), le monde entier y aura accès grâce à votre site.
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg" alt="library" width="413"
                        height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fcase.svg" alt="icon"
                        width="" height="" loading="lazy" decoding="async" aria-hidden="true">
                    <h3 class="cs-h3">Publicité 24/24h 7/7j.</h3>
                    <p class="cs-item-text">
                        Quel est le premier réflexe d'une personne qui recherche un professionnel? Lancer une recherche
                        sur un moteur de recherche. Votre site fait votre publicité pour vous, toute la journée et même
                        la nuit. Plus besoin de convaincre vos prospects au téléphone ou d'imprimer des flyers, votre
                        site s'occupe de tout, pour vous.
                    </p>
                </a>
                <picture class="cs-image">
                    <source media="(max-width: 600px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <source media="(min-width: 601px)"
                        srcset="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg">
                    <img loading="lazy" decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/Services/library.jpg" alt="library" width="413"
                        height="266" aria-hidden="true">
                </picture>
            </li>
        </ul>

        <a href="/contact" class="cs-button-solid">J'ai une question</a>
    </div>
</section>