<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1363">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/couverture-ebook.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/couverture-ebook.png">
                <img loading="lazy" decoding="async" src="/assets/images/couverture-ebook.png" alt="people"
                    width="605868" height="690">
            </picture>
            <div class="cs-box">
                <img class="cs-box-icon" loading="lazy" decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/gear-white.svg" alt="people" width="60"
                    height="60">
                <span class="cs-desc">
                    Dopez les retours sur investissement de votre digitalisation
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">EBOOK GRATUIT</span>
            <h2 class="cs-title">Télécharger gratuitement votre ebook</h2>
            <p class="cs-text">Ce livre est bien plus qu'un simple guide, c'est une feuille de route complète pour le
                succès de votre entreprise à l'ère numérique.<br><br> En parcourant ses pages, vous découvrirez comment
                identifier les besoins spécifiques de votre entreprise, écouter attentivement vos parties prenantes, et
                mettre en œuvre une transformation numérique stratégique.<br><br> De la planification à l'analyse des
                données,
                en passant par l'intégration de l'IA, ce livre offre des conseils pratiques
                pour naviguer avec succès dans le paysage technologique en constante évolution. <br><br>Que vous soyez un
                entrepreneur en herbe ou chevronné, cette lecture vous permettra de prendre des décisions
                éclairées et de propulser votre entreprise vers un avenir numérique brillant.</p>

            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark"
                        width="24" height="24">
                    Totalement gratuit 
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark"
                        width="24" height="24">
                    Facile et rapide à lire
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/black-check.svg" alt="checkmark"
                        width="24" height="24">
                    Plein de conseil utiles pour vous aiguiller dans votre digitalisation
                </li>
            </ul>
            <button class="btn btn-open cs-button-solid">Télécharger le ebook</button>

        </div>
    </div>
    <div class="cs-bubbles" aria-hidden="true"></div>

    <section class="modal hidden">
        <form name="Ebook Form" method="post" netlify>
            <div class="flex">
                <button class="btn-close" style="margin: 2% 0% 0% 90%;">⨉</button>
            </div>
            <div>
                <h3>Télécharger le ebook gratuit</h3>
                <p>
                    Afin de pouvoir télécharger votre ebook gratuit, merci d'entrer votre adresse email.<br> </p>
                <span style="font-size: xx-small;">En indiquant votre email ci-dessous, et en cochant l'option "Recevoir
                    des nouvelles par email", vous consentez à recevoir des propositions commerciales par 
                    email. Vous pouvez vous désinscrire à tout moment en répondant "STOP" par email.
                </span>
            </div>
            <div style="margin: 4%;"><input type="checkbox" /><label for="checkbox"> Recevoir des nouvelles par
                    email</label></div>

            <input type="email" id="email" placeholder=" Votre email" />
            <button class="btn-disabled" id="disabled-download" type="submit" disabled>Télécharger</button>

        </form>
    </section>
    <div class="overlay hidden"></div>



</section>