<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1387" style="padding-bottom: 0;">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Mes offres</span>
            <h2 class="cs-title-offre">Mes offres flexibles pour satisfaire vos besoins.</h2>
            <p class="cs-text-offre">
                Selectionnez votre préférence, payement au mois en plusieurs fois avec engagement d'un an ou paiement comptant.
            </p>
            <div class="cs-toggle-group">
                <span id="cs-option1-1387" class="cs-plan">Paiement 12 mois</span>
                <div class="cs-toggle" aria-label="click to switch plans pricing">
                    <span aria-hidden="true" class="cs-toggle-switch"></span>
                </div>
                <span id="cs-option2-1387 " class="cs-plan">Paiement comptant</span>
            </div>
        </div>
        <ul class="cs-card-group cs-option1">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Site vitrine</span>
                    <span style="color:white;">A partir de</span>
                    <span class="cs-price">
                        170€
                        <span class="cs-duration">/Mois</span>
                    </span>
                    <span style="color:white;">( Engagement 12 mois )</span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Site vitrine 7 pages responsive</li>
                        <li class="cs-li">Hébergement</li>
                        <li class="cs-li">Blog</li>
                        <li class="cs-li">Formulaire de contact</li>
                        <li class="cs-li">Avis clients</li>
                        <li class="cs-li">SEO - Référencement</li>
                        <li class="cs-li">Design du site</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">En savoir plus</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Site E-commerce</span>
                    <span >A partir de</span>
                    <span class="cs-price">
                        250€
                        <span class="cs-duration">/Mois</span>
                    </span>
                    <span >( Engagement 12 mois )</span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Site E-commerce responsive</li>
                        <li class="cs-li">Hébergement</li>
                        <li class="cs-li">Avis clients</li>
                        <li class="cs-li">SEO - Référencement</li>
                        <li class="cs-li">Design du site</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">En savoir plus</a>
                </div>
            </li>
        </ul>
        <ul class="cs-card-group cs-option2">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Site vitrine</span>
                    <span style="color:white;">A partir de</span>
                    <span class="cs-price">
                        1799€
                        
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Site vitrine 7 pages responsive</li>
                        <li class="cs-li">Hébergement</li>
                        <li class="cs-li">Blog</li>
                        <li class="cs-li">Formulaire de contact</li>
                        <li class="cs-li">Avis clients</li>
                        <li class="cs-li">SEO - Référencement</li>
                        <li class="cs-li">Design du site</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">En savoir plus</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Site E-commerce</span>
                    <span>A partir de</span>
                    <span class="cs-price">
                        2799€
                    </span>
                    <div class="cs-tag">
                        <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/fire.svg" decoding="async" alt="fire" width="16" height="16" loading="true">
                        Hot Deal
                    </div>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul"><li class="cs-li">Site E-commerce responsive</li>
                        <li class="cs-li">Hébergement</li>
                        <li class="cs-li">SEO - Référencement</li>
                        <li class="cs-li">Design du site</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">En savoir plus</a>
                </div>
            </li>
        </ul>
    </div>
    </section>
<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-1387">
    <div class="cs-container">
        <ul class="cs-card-group cs-option3">
            <li class="cs-item cs-popular">
                <div class="cs-flex">
                    <span class="cs-package">Forfait</span>
                    <span class="cs-package">Maintenance</span>
                    <span class="cs-price">
                        50€
                        <span class="cs-duration">/Heure**</span>
                    </span>
                    <span class="cs-price">
                        400€
                        <span class="cs-duration">/An***</span>
                    </span>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Mises à jour site internet & plugins</li>
                        <li class="cs-li">Modifications graphiques ou de contenu</li>
                        <li class="cs-li">Optimisation des performances</li>
                        <li class="cs-li">Restauration en cas de piratage</li>
                        <li class="cs-li">Optimisation SEO - Référencement</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">En savoir plus</a>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-package">Développements spécifiques</span>
                    <span class="cs-price">
                        400€
                        <span class="cs-duration">/Jour</span>
                    </span>
                </div>
                <div class="cs-info">
                    <ul class="cs-ul">
                        <li class="cs-li">Vous avez une demande particulière?</li>
                        <li class="cs-li">Vous recherchez un développeur pour aider votre équipe?</li>
                        <li class="cs-li">Vous avez un projet qui sort de l'ordinaire?</li>
                        <li class="cs-li">Vous avez besoin de conseil ou d'un audit?</li>
                    </ul>
                    <a href="/contact" class="cs-button-transparent">En savoir plus</a>
                </div>
            </li>
        </ul>
    </div>
    <span style="margin: 3%;padding: 3%;display: block;">L' ensemble des tarifs indiqués sont TTC. * Prix à titre informatif : Changement possible selon les demandes et les choix du client. Estimation du temps de travail appuyé par un devis. *** Maintenance annuelle (engagement 12 mois). Droit d'auteur & propriété intellectuelle : Vous êtes à la fin du projet, propriétaire de l'ensemble des sources (fichiers) composant celui-ci. </span>

</section>

                                