---
title: 'Création de site internet - SEO - Développement web'
description: 'Nicolas Formet développeur web expérimenté spécialisé en développement web et création de site internet,
SEO et marketing digital. Contactez-moi pour vos projets de création de sites web, conseil et assistance informatique en
freelance.'
preloadImg: '/assets/images/pc-clair.jpg'
permalink: 'faq/'
eleventyNavigation:
key: FAQ
order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">Foire aux questions</h1>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/pc-clair.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/pc-clair.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/pc-clair.jpg" alt="pc-clair" loading="eager"
            width="2500" height="1667">
    </picture>
</section>

<!-- ============================================ -->
<!--              Main FAQ Content               -->
<!-- ============================================ -->


<!-- ============================================ -->
<!--                 FAQ Articles                -->
<!-- ============================================ -->
<section id="faq-350-350" style="padding-top: 5%;">
    <div class="cs-container-faq">
        <div class="cs-left-faq">
            <div class="cs-content-faq">
                <span class="cs-topper-faq">FOIRE AUX QUESTIONS</span>
                <h2 class="cs-title-faq" style="padding-top: 3%;   font-size: xxx-large;">Questions les plus fréquentes</h2>
                {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
                {% else %}
                <ul class="cs-faq-group">
                    {%- for post in collections.faq | reverse -%}
                    <li class="cs-faq-item">
                        <button class="cs-button-faq">
                            <span class="cs-button-text-faq" style="font-size: x-large;">
                                {{ post.data.title }}
                            </span>
                        </button>
                        <p class="cs-item-p">{{ post.data.description }}</p>
                        <div>
                    {{ content | safe }}
                        </div>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}