---
title: 'Création de site internet - SEO - Développement web'
description: 'Contact - Nicolas Formet - Developpeur web'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact </h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pc-clair.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pc-clair.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pc-clair.jpg" alt="pc-clair" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post" netlify>
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Pour me contacter</h2>
                    <p class="cs-text">
                        Vous avez une question, un projet? N'hésitez pas à me contacter je me ferai un plaisir de vous répondre!
                    </p>
                </div>
                <label>
                    Nom
                    <input required type="text" id="name" name="name" placeholder="Nom">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Téléphone
                    <input required type="text" id="phone" name="phone" placeholder="Téléphone">
                </label>
                <label>
                    Comment m'avez vous trouvé?
                    <input type="text" id="find" name="find-us" placeholder="Internet, bouche à oreille...">
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea required name="Message" id="message" placeholder="Ecrivez votre message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Envoyer</button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{client.email}}">{{client.email}}</a>
                

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/skyscraper.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/skyscraper.jpg" alt="building" loading="lazy" width="2500" height="1667">
                </picture>

            </div>
        </div>
    </section>
{% endblock %}