---
title: 'Création de site internet - SEO - Développement web'
description: 'Nicolas Formet développeur web expérimenté spécialisé en développement web et création de site internet, SEO et marketing digital. Contactez-moi pour vos projets de création de sites web, conseil et assistance informatique en freelance.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projets
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Mes Projets</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/pc-clair.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/pc-clair.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/pc-clair.jpg" alt="pc" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row-special cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <a href="http://www.stonedeaf.fr/" title="site stonedeaf">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/capture-accueil-www.stonedeaf.fr.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/capture-accueil-www.stonedeaf.fr.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/capture-accueil-www.stonedeaf.fr.png" alt="capture-accueil-www.stonedeaf.fr" loading="lazy" width="400" height="560" style="object-position: right top;">
                    </a>
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <a href="http://www.limmopourvous.fr/" title="site limmopourvous">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/FireShot Capture 005 - Agence Immobilière Limmopourvous Thaon les vosges - Immo Pour Vous - _ - www.limmopourvous.fr.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/FireShot Capture 005 - Agence Immobilière Limmopourvous Thaon les vosges - Immo Pour Vous - _ - www.limmopourvous.fr.png">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/FireShot Capture 005 - Agence Immobilière Limmopourvous Thaon les vosges - Immo Pour Vous - _ - www.limmopourvous.fr.png" alt=" Agence Immobilière Limmopourvous Thaon les vosges-ImmoPourVous- www.limmopourvous.fr" loading="lazy" width="400" height="560" style="object-position: right top;">
                    </a>
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560" style="object-position: right top;">
                    </picture>
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Contact</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}